<div id="main-header" class="z-depth-3">
	<div class="navbar-fixed">
		<nav>
			<div class="nav-wrapper container">
				<a href="#" data-target="mobile-nav" class="sidenav-trigger"><i class="material-icons">menu</i></a>
				
				<img class="responsive-img-height brand-logo" id="logo" src="/img/logo.png" alt="The Quarks">
				
				<ul class="right hide-on-med-and-down">
					<li><a href="/index.html">Home</a></li>
					<li><a class="dropdown-trigger" href="#!" data-target="dropdown1">Albums<i
								class="material-icons right">arrow_drop_down</i></a></li>
					<li><a href="/shop.html">Shop</a></li>
					<li><a href="/about.html">About us</a></li>
				</ul>
			</div>
		</nav>
	</div>
</div>


<!-- Slide out menu -->
<ul class="sidenav" id="mobile-nav">
	<li><a href="/index.html">Home</a></li>
	<li>
		<ul class="collapsible">
			<li>
				<a class="collapsible-header">Albums<i class="material-icons right">arrow_drop_down</i></a>
				<div class="collapsible-body">
					<ul>
						<li><a href="/albums/ADN">ADN (2019)</a></li>
						<li><a href="/albums/Influence">Influence (2017)</a></li>
					</ul>
				</div>
			</li>
		</ul>
	</li>
	<li><a href="shop.html">Shop</a></li>
	<li><a href="about.html">About us</a></li>
</ul>

<!-- Dropdown Structure -->
<ul id="dropdown1" class="dropdown-content">
	<li><a href="/albums/ADN">ADN (2019)</a></li>
	<li><a href="/albums/Influence">Influence (2017)</a></li>
</ul>