<div class="container">
  <div class="row">
	<div class="col l6 s12">
	  <h5 class="white-text">Members</h5>
	  <p class="grey-text text-lighten-4">
		Vocals: Enzo Guillot <br> Keys: Thomas Seraphin <br> Bass: Adrien Vitte<br> Guitar: Jon De Vecchy <br> Drums: Dylan Robins
	  </p>
	</div>
	<div class="col l4 offset-l2 s12">
	  <h5 class="white-text">Links</h5>
	  <ul>
		<li><a class="grey-text text-lighten-3" href="http://www.facebook.com/thequarksmusic">Facebook</a></li>
		<li><a class="grey-text text-lighten-3" href="https://www.youtube.com/channel/UC9H3NbAHvkjJzqv2eLRjKvg">Youtube</a></li>
		<li><a class="grey-text text-lighten-3" href="https://soundcloud.com/thequarksofficiel">Soundcloud</a></li>
		<li><a class="grey-text text-lighten-3" href="mailto:TheQuarksOfficial@gmail.com">Email</a></li>
	  </ul>
	</div>
  </div>
</div>
<div class="footer-copyright red darken-4">
  <div class="container">
	© 2014-2018 The Quarks, All rights reserved.
  </div>
</div>
